.login-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: roboto;
    font-weight: bold;
}

.login-wrapper{
    padding-top: 15px;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container div{
    margin-top:10px;
}

Button a{
    color: white;
    text-decoration: none;
}

.MuiButton-containedSecondary {
    color: #fff;
    background-color: #f50057;
}

.MuiOutlinedInput-input {
    padding: 12px 12px;
}

.login-container Button{
    margin-top: 20px !important;
}

.MuiButton-fullWidth {
    width: 100% !important;
}

.MuiButton-containedPrimary {
    margin-top:15px !important;
    color: #fff;
    background-color: #3f51b5;
}

@media only screen and (max-width: 425px){
.makeStyles-paper-1{
    margin-top: 50% !important;
}

.login-wrapper{
    margin-top:35%;
}

.MuiOutlinedInput-input {
    padding: 15px 14px;
}

.MuiInputBase-input:invalid {
    box-shadow: none;
    width: 220px;
}

.makeStyles-submit-3{
    margin: 10px !important;
}

.MuiButton-containedSecondary{
    width: 100%;
}

nav.nav{
    display: none;
}
}